a.eduid-logo {
	background-image: url(../img/eduid.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center;
	width: 202px;
	height: 84px;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}

a.eduid-logo.button {
	background-color: #FFF;
}

a.eduid-logo.button:hover {
	background-color: rgba(240, 240, 240, 1);
}

a.eduid-logo.button span {
	display: none;
}

#body-login form {
	margin-bottom: 0px;
}

#body-login form fieldset {
	margin-bottom: 0px;
}

#alternative-logins li {
	height: 20px;
	width: 100%;
}

#alternative-logins li.login-button {
	height: 110px;
}

.legal-notice {
	
}

#body-login p.info {
	padding-top: 0px;
}
